{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <!-- 引入页面特定CSS -->
    <link rel="stylesheet" href="{% static 'css/newIndex.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block title %}主页{% endblock %}
{% block content %}
    <main>
    <section class="news">
    <h2>MUGO NEXUS</h2>
    <p>欢迎来到木结构建筑知识问答与学习评价系统</p>
    {% if request.session.userId %}
        <a href="http://localhost:8501/?userId={{ request.session.userId }}" target="_blank" class="btn-start" style="text-decoration: none;">开始问答</a>
    {% else %}
        <a href="/login" class="btn-start" style="text-decoration: none;">开始问答</a>
    {% endif %}
    </section>

    <section class="slogan">
    <h3>我们的目标与愿景</h3>
    <p>赋能知识学习，优化木构设计，实现智慧评价</p>
    </section>

    <section class="product">
        <div>
            <img src="{% static 'images/p1.png' %}" alt="专业图数据库的数据支撑">
            <h4>专业图数据库的数据支撑</h4>
            <p>基于Neo4j的木结构建筑知识图谱<br>提供可靠、可溯源的数据来源</p>
        </div>
        <div>
            <img src="{% static 'images/p2.png' %}" alt="个性化与自适应的学习模式">
            <h4>个性化与自适应的学习模式</h4>
            <p>生成式AI洞察学习节奏与需求<br>为每位学生打造专属学习体验</p>
        </div>
        <div>
            <img src="{% static 'images/p3.png' %}" alt="即时与全面的评价反馈">
            <h4>即时与全面的评价反馈</h4>
            <p>建立全过程互动式评价机制<br>提供多维度多模态的学习反馈</p>
        </div>          
    </section>

    <section class="newsletter">
        <p>如遇到任何问题，请随时通过邮件与我们联系!</p>
        <p>labmugo@163.com</p>
    </section>
    </main>

    <!-- <footer>
        <p>Copyright © 2025 MUGO NEXUS All Rights Reserved.</p>
    </footer> -->
{% endblock %}